NODE_ENV=development
PERSISTENCE_DRIVER=memory
PORT=3000
JWT_SECRET=dev-jwt-secret-elaine
JWT_EXPIRES_IN=1h
ENCRYPTION_SECRET=dev-encryption-secret-elaine
BCRYPT_SALT_ROUNDS=10
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/elaine_confeitaria?schema=public"
